extends layout 

block content 

   div.dashboard-top 

     div.user-info
          p Username: #{user.username}
          a(href="/logout" id="logout") Logout 

     div.membership-info 
          p Membership Satus : #{user.status.charAt(0).toUpperCase() + user.status.slice(1)}
          a(href="/member" id="member") Become a Member?
        

   div.messages
    p Hello 
        
         