extends layout 

block content 

   div.user-info 
        h1 Welcome #{user.username}!
        p Membership Satus : #{user.status}
        a(href="/logout" role='button') Logout 

   div.messages
    p Hello 
        
         