doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/form.css')

  body

    div.header
      h1 Members Only

      .nav 
        a(href="/") Home
        a(href="/register") Signup 
        a(href="/login") Login 
      
    block content
