extends layout 

block content 
    div.form#login-form
        form(method='POST' action='/login')
            .form-group
                label(for="uname") User Name  
                input(name="uname" id="uname" type="text" value=undefined === uname ? '' : uname)
                
            .form-group
                label(for="pass") Password
                input(name="pass" id="pass" type="password" value=undefined === pass ? '' : pass)

            .form-group
              if error
                p(style="color:red; text-align: center;")= error
            .form-group
                a(href="/signup") Create An Account? 
                button#submit(type="submit") Login
