extends layout

include ./navigation.pug

block content
  #message-delete-form.form
    h1(style="color: red") Do You Want To Really Delete This Message?
    form(method="POST")
      .form-group
        input#messageid.form-control(
          type="hidden",
          name="messageid",
          value=message._id
        )

      button#submit(type="submit") Delete
