block nav
  .nav
    a(href="/") Home

    if user.status === 'user'
      a#member(href="/status/member") Become a Member
    else if user.status === 'member'
      a#member(href="/status/admin") Become an Admin

    a#logout(href="/logout") Logout
