.dashboard-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.user-info,
.membership-info{
    display: flex;
    gap: 10px;
}

#logout{
    margin-top:38px
}

#logout,
#member{
    margin-top: 16px;
}