@font-face {
  font-family: 'poppins';
  src: url('/pop-regular.ttf');
}

:root{
  --textColor: #DDE6ED; 
}

body {
  padding: 0 20px 0;
  font-family: 'poppins';
  background-color: #222831;
  color:  var(--textColor);
}

a {
  color: #00B7FF;
}

.header{
  text-align: center;
}

.nav{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  
}

.nav > a{
  text-decoration: none;
  color: var(--textColor);
}

.nav > a:visited{
  color: var(--textColor);
}